@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coming+Soon&family=Montserrat&family=Montserrat+Alternates&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --bg: #000;
    --text: #fff;
    --primary: #f05d0f;
    --secondary: #d9bb41;
    --blue: #3db3f1;
    --purple: #941abd;
    --lightext: #ffffffd0;
    --darkgray: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--bg);
}

::-webkit-scrollbar {
    width: 0px;
}

.section {
    width: 100%;
    height: fit-content;
    padding-bottom: 3rem;
    background-color: var(--bg);
}

.text {
    color: var(--text);
}

.ltext {
    color: var(--lightext);
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;

}

.rectangle {
    width: 80vw;
    height: 70vh;
    background-color: var(--darkgray);
    border-radius: 40px;
    margin-top: 5rem;
}

#heading {
    font-size: 5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 2rem;
   text-align: center;
    

}



#description {
    text-align: center;
    width: 65rem;
    display: block;
    margin: 2rem auto 3rem auto;
    font-family: "Poppins", sans-serif;
    
}

#caption {
    display: flex;
    gap: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    justify-content: center;
}

span:nth-child(even) {
    color: var(--secondary);
}

span {
    color: var(--primary);
}

.svg-container{
    overflow: hidden;
    text-align: center;
    position: relative;
}

svg {
    display: inline-block;
    width:80%;
    opacity: 0.1;
}


.car {
    position: absolute;
    width: 10rem;
}

.list-item {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    position:absolute;
    margin: 0 5rem;

    width: 25rem;
    text-align: center;
    float: left;
    opacity: 0.1;
}

.list-item:nth-child(2) {
    left: 60%;
    top: 10%;
}

.list-item:nth-child(3) {
    left: 50%;
    top: 28%;
}

.list-item:nth-child(4) {
    top: 30%;
}

.list-item:nth-child(5) {
    top: 55%;
    left:15%;
}

.list-item:nth-child(6) {
    top: 65%;
    left: 65%;
}

.list-item:nth-child(7) {
    top: 83%;
    left: 30%;
}

.list-item:nth-child(8) {
    top: 81%;
    left: -5%;
}

strong {
    font-size: 1.5rem;
    color: var(--primary);
}



#faqhead {
    font-size: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 2rem;
    margin: 0 5rem;
    }

#faqsub {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin:2rem 5rem;
}

.question-container {
    margin-left: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
   width: 95vw;
    flex-direction: row;
    justify-content: space-between;
}

.question-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
}

ion-icon {
    color: white;
    font-size: 2rem;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

ion-icon:hover {
    color: var(--bg);
    background-color: white;
}

.card-text {
    font-family: "Poppins", sans-serif;
    
}

.card-text * {
    margin-bottom: 1rem;
    width: 35rem;
}

.card-text h3 {
    width: 35rem;
    font-size: 0.9rem;
    
}

.list-container {
    width: 80rem;
    margin-left: 5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#forum {
    padding: 2rem;
}

footer {
    width: 100%;
    height: 100vh;
    background: url("../assets/footer.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

footer h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    width: 35rem;
    margin-left: 4rem;
    font-weight: 900;
}

.icon-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-self: right;
}

.icon-container *:hover {
    color: var(--primary);
    scale: 0.8;
}

footer ion-icon {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}



.position {
    margin-top: -15rem;
    margin-left: 25rem;
}


@media screen and (min-width: 1900px){
    #heading {
        font-size: 7rem;
    }
    #description {
        font-size: 2rem;
    }
    #caption {
        font-size: 4rem;
    }

    #ruleshead {
        font-size: 7rem;
    }
   .list-list-con {
    display: flex;
    justify-content: center;

   }
}

@media screen and (max-width: 700px){
    #heading {
        text-align: center;
    }
    #description {
        text-align: center;
        width: 80vw;
    }
    .list-container {
        flex-direction: column;
        margin-left: 1rem;
        width: 70vw;
    }
    .list-list-con {
        width: 80vw;
    }
    .list-item {
        font-size: 1rem;
    }
    #card-ans{
        width: 70vw;
    }
}

@media screen and (max-width: 400px){
    #heading {
        font-size: 4rem;
        
    }

    #caption {
        font-size: 2rem;
    }
    .list-item {
        font-size: 1rem;
        width: 80vw;
    }

   .list-list-con {
    display: flex;
    justify-content: center;
   }
}

@media screen and (max-width:350px){
    #heading {
        font-size: 3rem;
    }
    #descrition {
        font-size: 2rem;
    }
    #ruleshead {
        text-align: center;
        margin: 0;
    }
    #faqhead {
        text-align: center;
        margin: 0;
    }
    #card-ans{
        width: 50vw;
    }
} 